@font-face {
    font-family: "digital";
    src: url("../fonts/digital-7.ttf")
}

#calculator {
    width: 330px;
    height: 470px;
    margin: 10px auto;
    padding: 5px;
    background-color: #303133;
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #4c4c4c 63%, #2c2c2c 76%, #2b2b2b 76%, #000000 88%, #111111 94%, #303133 99%, #131313 100%);
    border-radius: 20px;
}

#expression {
    width: 330px;
    height: 20px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

#total {
    height: 50px;
    width: 270x;
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: #b0d3af;
    background: linear-gradient(to bottom, #e4efc0 0%, #abbd73 100%);
    text-align: right;
    font-size: 60px;
    border-radius: 10px;
    font-family: "digital";
}

#buttons {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.numbers,
.operators {
    margin: 0px;
}

.operators,
#sqrt,
#equals {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    border-radius: 10px;
}

.numbers,
#clear,
#clearAll,
#negative {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    border-radius: 10px;
}

#equals {
    background-color: orange;
    width: 60px;
}

#equals:hover {
    background-color: darkorange;
}

button {
    background-color: darkgrey;
}

button:hover {
    background-color: gray;
}